.App {
    position: relative;
}

.wrap {
    position: fixed;
    bottom: 0px;
    margin-top: 400px;
    width: 100%;
}

.form {
    width: 522px;
    margin: 15px auto;
    padding: 20px 0;
    border-radius: 15px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);

    &-control {
        display: flex;
        flex-direction: column;
        width: 400px;
        margin: 5px 0;
        padding: 3px 10px;
        border-radius: 15px;

        input {
            margin: 5px 0;
            padding: 3px 10px;
            border-radius: 15px;
        }
    }

    .msg-btn {
        padding: 10px 0 5px 0;
        width: 100%;

        Button {
            display: block;
            background-color: rgb(102, 124, 143);
            border: 1px solid rgb(134, 187, 233);
            border-radius: 15px;
            color: #fff;
            font-size: 16px;
            font-weight: 600;
            padding: 6px 155px;
            cursor: pointer;
            margin: 0 auto;
            box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.1);

            &:hover {
                background-color: rgb(206, 47, 36);
            }
        }
    }
}